@font-face {
    font-family: 'font';
    src: url('IstokWeb-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css?family=Istok+Web');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font', sans-serif;
    letter-spacing: 5px;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    justify-content: center;
}

.board {
    width: 100%;
    height: 100%;
    align-content: space-between;
    justify-content: center;
    background-color: #e74c3c;
    color: #feefee;
}

.title {
    margin-top: 20px;
    font-size: 2em;
}

.interact-area {
    width: 100%;
    height: 72%;
    margin-bottom: 20px;
}

.piece {
    width: 32%;
    height: 33%;
    justify-content: center;
    align-items: center;
    border: solid 1px #feefee;
    font-size: 2em;
    font-weight: bold;
}

.no-piece {
    background-color: #740c0c;
}